<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title> coffee shop</title>
        <link rel="stylesheet" href="/public/css/jass.css"/>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
</html>

<body>
    <main>
        {{{ body }}}
    </main>
</body>