        <header>
            <h1> Sign In </h1>
        </header>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
        </form>
        <form>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" placeholder="Create password" required>
        </form>
        <form>
            <button type="submit">Login</button>
        </form>
        <footer>
            <p>&copy; 2024 The Coffee Shop. All righs reserved.</p>
        </footer>
